* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DotGothic16", sans-serif;
    letter-spacing: 1px;
}

.container {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}

.header {
    position: absolute;
    display: flex;
    justify-content: center;  
    align-items: center;
    width: 1024px;
    padding: 30px; 
    padding-top: 40px; 
}

.life {
    width: 100%; 
    height: 30px;
    display: flex;
    border-right: none; 
    border-radius: 30px 0px 0px 30px; 
    overflow: hidden;
    background: linear-gradient(180deg, #623996 0%, #867899 50.12%, #623E8E 100%);
    border: 4px solid #2a2a2a;
} 
  
.life2 {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: right;
    border-radius: 0 30px 30px 0; 
    overflow: hidden;
    background: linear-gradient(180deg, #623996 0%, #867899 50.12%, #623E8E 100%);
    border: 4px solid #2a2a2a;
}

.playerOneHealth {
    width: 100%;
    height: 100%;
    transition: all 1s;
    background: linear-gradient(180deg, #FF9800 19.91%, #FFC46C 37.09%, #FF9800 53.76%);
    box-shadow: inset -5px -10px 5px rgba(69, 12, 0, 0.3);
    border-radius: 0px 5px 5px 0;
}

.playerTwoHealth {
    width: 100%;
    height: 100%;
    transition: all 1s;
    background: linear-gradient(180deg, #FF9800 19.91%, #FFC46C 37.09%, #FF9800 53.76%);
    box-shadow: inset 5px -10px 5px rgba(69, 12, 0, 0.3);
    border-radius: 5px 0 0 5px;
}

.timer {
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    justify-content: center;
    display: flex;
    font-size: 20px;
    font-weight: 700;
    transform: scale(1.7);
    background-image: url(./assets/shield.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    color: #212121;
    padding-top: 17px;
}

.winnerAnnouncer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    align-items: center;
    justify-content: center;
    display: none;
    width: 1024px;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #251612;
}

.fighterSelect {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1024px;
    height: 576px;
    border-radius: 30px;
}

.fighterSelectOne {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-left {
    border: none;
    background-color: #3C2B25;
    padding: 7px 15px;
    padding-bottom: 10px;
    color: #e1e8f5;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 0 30px 30px 0;
    width: 100px;
    display: flex;
    justify-content: right;
    transition: all 0.3s ease-in-out;
}

.button-left:focus {
    outline: none;
}

.button-right:focus {
    outline: none;
}

.confirm-one {
    border: none;
    background-color: #283593;
    padding: 7px 15px;
    padding-bottom: 10px;
    color: #e1e8f5;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 0 30px 30px 0;
    width: 100px;
    display: flex;
    justify-content: right;
}

.confirm-two {
    border: none;
    background-color: #b71c1c;
    padding: 7px 15px;
    padding-bottom: 10px;
    color: #e1e8f5;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 30px 0 0 30px;
    width: 100px;
    display: flex;
    justify-content: left;
}

.button-right {
    border: none;
    background-color: #3C2B25;
    padding: 7px 15px;
    padding-bottom: 10px;
    padding-right: 30px;
    color: #e1e8f5;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 30px 0 0 30px;
    width: 100px;
    display: flex;
    justify-content: left;
    transition: all 0.3s ease-in-out;
}

h1 {
    margin: 0 30px;
    color: #e1e8f5;
}

.fighterSelectTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.fighterName {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 1024px;
    padding: 40px;
    padding-top: 27px;
}

.fighterIndName {
    padding: 5px 20px;
    border-radius: 5px 5px 0px 0px;
    color: #e1e8f5;
    border-bottom: none;
    font-weight: 600;
}


.header2 {
    position: absolute;
    display: flex;
    justify-content: space-between;  
    align-items: center;
    width: 1024px;
    padding: 50px; 
    padding-top: 92px; 
}

.special1 {
    width: 200px; 
    height: 25px;
    display: flex;
    border-right: none; 
    border-radius: 10px 30px 10px 30px; 
    overflow: hidden;
    background: #bfc1c5;
    border: 4px solid #2a2a2a;
} 
  
.special2 {
    width: 200px;
    height: 25px;
    display: flex;
    justify-content: right;
    border-radius: 30px 10px 30px 10px; 
    background: #bfc1c5;
    overflow: hidden;
    border: 4px solid #2a2a2a;
}

.playerOneSpecial {
    width: 100%;
    height: 100%;
    transition: all 1s;
    background: linear-gradient(180deg, #9c27b0 19.91%, #ba68c8 37.09%, #9c27b0 53.76%);
    box-shadow: inset -5px -10px 5px rgba(69, 12, 0, 0.3);
    border-radius: 0px 30px 10px 0px; 
}

.playerTwoSpecial {
    width: 100%;
    height: 100%;
    transition: all 1s;
    background: linear-gradient(180deg, #9c27b0 19.91%, #ba68c8 37.09%, #9c27b0 53.76%);
    box-shadow: inset 5px -10px 5px rgba(69, 12, 0, 0.3);
    border-radius: 30px 0px 0px 10px; 
}